{% extends 'base.html.twig' %}
{% block body %}
        <div class="row flex">
            {% for news in results %}
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-tittle">
                                <a href="{{ path('news.show', {id: news.id, slug: news.slug}) }}">{{ news.title }}</a>
                            </div>
                            <div class="card-text">
                                <p>{{ news.description }}</p>
                                <p>{{ news.author }}</p>
                                <p {{ news.date }}</p>
                            </div>

                        </div>
                    </div>
            {% endfor %}
        </div>


{% endblock %}